Importing SQL and Pandas

In [1]:
import pandas as pd
from mysql.connector import connect 
from sqlalchemy import create_engine

Creating connection with SQL

In [2]:
connection = connect(
    host = 'localhost',
    port = '3306',
    user = 'root',
    password = '123456',
    database = 'customer_analysis'
)

print(connection.is_connected())

True

Creating a new database

In [3]:
cursor = connection.cursor()
# cursor.execute('create database customer_analysis')

Reading all the csv files

In [4]:
engage = pd.read_csv('engagement_data.csv')
engage_df = pd.DataFrame(engage)

customers = pd.read_csv('customers.csv')
customers_df = pd.DataFrame(customers)

c_journey = pd.read_csv('customer_journey.csv')
c_journey_df = pd.DataFrame(c_journey)

c_reviews = pd.read_csv('customer_reviews.csv')
c_reviews_df = pd.DataFrame(c_reviews)

geography = pd.read_csv('geography.csv')
geography_df = pd.DataFrame(geography)

products = pd.read_csv('products.csv')
products_df = pd.DataFrame(products)

Inserting dataframes into the database "customer_analysis"

In [5]:
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/customer_analysis')

engage_df.to_sql(name = 'engagement_data', con = engine, if_exists = 'replace', index = False)

customers_df.to_sql(name = 'customers', con = engine, if_exists = 'replace', index = False)

c_journey_df.to_sql(name = 'customer_journey', con = engine, if_exists = 'replace', index = False)

c_reviews_df.to_sql(name = 'customer_reviews', con = engine, if_exists = 'replace', index = False)

geography_df.to_sql(name = 'geography', con = engine, if_exists = 'replace', index = False)

products_df.to_sql(name = 'products', con = engine, if_exists = 'replace', index = False)

20

Identifying Drop-off points in the Customer Journey dataframe

In [6]:
# Group by stages
stage_counts = c_journey_df.groupby('Stage')['CustomerID'].nunique()

# Calculate drop-offs
drop_offs = stage_counts.diff()
drop_off_percentages = (drop_offs / stage_counts.shift()) * 100

drop_off_summary = pd.DataFrame({
    'Stage': stage_counts.index,
    'Customer Count': stage_counts.values,
    'Drop-off Count': drop_offs.values,
    'Drop-off Percentage': drop_off_percentages.values
})

print(drop_off_summary)

         Stage  Customer Count  Drop-off Count  Drop-off Percentage
0     Checkout              17             NaN                  NaN
1     Homepage              39            22.0           129.411765
2  ProductPage              23           -16.0           -41.025641
3     checkout               2           -21.0           -91.304348
4     homepage               4             2.0           100.000000
5  productpage               2            -2.0           -50.000000

Merging customer_journey and engagement_data dataframes with "ProductID"

In [ ]:
merged_df = pd.merge(c_journey_df, engage_df, on='ProductID')

merged_df.head()

Finding common actions leading to successful conversions.

In [ ]:
query = """SELECT c.ProductID, c.Action, e.Likes, e.ContentType, e.ViewsClicksCombined FROM customer_journey as c
inner join engagement_data as e on e.ProductID = c.ProductID
WHERE c.Action = 'purchase' AND e.ProductID IN (2, 15, 16, 17);"""

cursor.execute(query)
result = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_df = pd.DataFrame(result, columns=column_names)
print(result_df)

Calculating average duration per stage for engagement insights

In [10]:
avg_duration_per_stage = c_journey_df.groupby('Stage')['Duration'].mean().reset_index()
avg_duration_per_stage.rename(columns={'Duration': 'AvgDurationSeconds'}, inplace=True)
avg_duration_per_stage

         Stage  AvgDurationSeconds
0     Checkout          150.166667
1     Homepage          158.520000
2  ProductPage          186.666667
3     checkout                 NaN
4     homepage          185.750000
5  productpage          136.000000

Identifying highest-rated and lowest-rated products using SQL.

In [11]:
merged_df_2 = pd.merge(c_reviews_df, products_df, on='ProductID')
merged_df_2.head()

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,ProductName,Category,Price
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",Volleyball,Sports,42.80
1,2,80,19,2024-12-25,5,The quality is top-notch.,Hockey Stick,Sports,173.83
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,Swim Goggles,Sports,145.97
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",Climbing Rope,Sports,410.17
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",Fitness Tracker,Sports,196.68

In [12]:
query_1 = """SELECT 
    p.ProductName, 
    MIN(cr.Rating) AS MinRating, 
    MAX(cr.Rating) AS MaxRating
FROM 
    Products AS p
INNER JOIN 
    customer_reviews AS cr
ON 
    p.ProductID = cr.ProductID
GROUP BY 
    p.ProductName
ORDER BY 
    MaxRating DESC, MinRating ASC;"""

cursor.execute(query_1)
results = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
results_df = pd.DataFrame(results, columns=column_names)
print(results_df)

        ProductName  MinRating  MaxRating
0     Tennis Racket          1          5
1         Dumbbells          1          5
2          Yoga Mat          1          5
3     Climbing Rope          2          5
4   Fitness Tracker          2          5
5         Surfboard          2          5
6        Golf Clubs          2          5
7        Volleyball          3          5
8     Running Shoes          3          5
9         Ski Boots          3          5
10     Hockey Stick          4          5
11  Football Helmet          5          5
12            Kayak          2          4
13     Swim Goggles          3          4
14   Baseball Glove          3          4
15    Boxing Gloves          4          4
16      Soccer Ball          4          4
17       Basketball          2          3
18       Ice Skates          3          3

Performing basic sentiment analysis for customer_reviews dataframe

In [13]:
from textblob import TextBlob

c_reviews = pd.read_csv('customer_reviews.csv')
c_reviews_df = pd.DataFrame(c_reviews)

def analyze_sentiment(review):
    blob = TextBlob(review)
    return blob.sentiment.polarity  # Returning sentiment polarity (-1 to 1)

c_reviews_df['Sentiment'] = c_reviews_df['ReviewText'].apply(analyze_sentiment)
c_reviews_df

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,Sentiment
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",0.103571
1,2,80,19,2024-12-25,5,The quality is top-notch.,1.000000
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,0.333333
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",0.700000
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",0.103571
...,...,...,...,...,...,...,...
95,96,19,13,2023-09-02,3,"Good quality, but could be cheaper.",0.700000
96,97,64,6,2024-01-19,3,"The product is okay, but the instruction...",0.500000
97,98,96,3,2025-11-20,5,Exceeded my expectations!,0.000000
98,99,79,16,2025-01-29,2,"Average experience, nothing special.",0.103571
99,100,9,2,2025-06-20,3,Not worth the money.,-0.150000

Sentiment Trends

In [14]:
c_reviews_df['Date'] = pd.to_datetime(c_reviews_df['ReviewDate'])
sentiment_trend = c_reviews_df.groupby('Date')['Sentiment'].mean().reset_index()
sentiment_trend

         Date  Sentiment
0  2023-01-06   0.600000
1  2023-01-07   0.000000
2  2023-01-27   0.725000
3  2023-02-21   0.200000
4  2023-02-24   0.725000
..        ...        ...
91 2025-11-24   1.000000
92 2025-12-05   0.700000
93 2025-12-11   0.200000
94 2025-12-21   0.200000
95 2025-12-28   0.333333

[96 rows x 2 columns]

Correlating review trends with product performance.

In [17]:
query_2 = """SELECT
    cj.ProductID,
    cj.Action,
    COUNT(cj.Action) AS ActionCount,
    AVG(cr.Rating) AS AvgReviewRating,
    COUNT(cr.ReviewID) AS TotalReviews
FROM
    customer_journey AS cj
INNER JOIN
    customer_reviews AS cr
ON
    cj.ProductID = cr.ProductID
GROUP BY
    cj.ProductID, cj.Action
ORDER BY
    AvgReviewRating DESC, ActionCount DESC;"""

cursor.execute(query_2)
result_2 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_2_df = pd.DataFrame(result_2, columns=column_names)
print(result_2_df)

    ProductID    Action  ActionCount AvgReviewRating  TotalReviews
0           8      View           18          5.0000            18
1           8     Click            6          5.0000             6
2           8  Drop-off            3          5.0000             3
3          19      View           15          4.4000            15
4          19     Click           10          4.4000            10
5          15      View           18          4.0000            18
6          11  Drop-off           18          4.0000            18
7           1      View           16          4.0000            16
8          15  Purchase           12          4.0000            12
9           1     Click           12          4.0000            12
10         20      View           10          4.0000            10
11         18      View            9          4.0000             9
12          5      View            9          4.0000             9
13         18  Drop-off            6          4.0000             6
14         15     Click            6          4.0000             6
15         11      View            6          4.0000             6
16         11     Click            6          4.0000             6
17         20  Drop-off            6          4.0000             6
18         18     Click            3          4.0000             3
19         20     Click            2          4.0000             2
20         17  Purchase           18          3.8889            18
21         17      View           18          3.8889            18
22         17  Drop-off            9          3.8889             9
23          6      View           14          3.8571            14
24          6     Click            7          3.8571             7
25          6  Drop-off            7          3.8571             7
26          3      View           14          3.7143            14
27         13      View           18          3.6667            18
28         13     Click            9          3.6667             9
29          2      View           21          3.5714            21
30          2     Click           14          3.5714            14
31          2  Purchase            7          3.5714             7
32         10      View           20          3.5000            20
33         10     Click            8          3.5000             8
34         16      View           30          3.4000            30
35          9      View           15          3.4000            15
36         16  Purchase           10          3.4000            10
37         16     Click           10          3.4000            10
38          9  Drop-off            5          3.4000             5
39          9     Click            5          3.4000             5
40          4      View           15          3.0000            15
41          4     Click           10          3.0000            10
42         12      View            6          3.0000             6
43         12  Drop-off            2          3.0000             2
44          7  Drop-off            3          2.6667             3

Calculating customer retention rate.

In [18]:
total_customers = customers_df['CustomerID'].nunique()

repeat_customers = c_reviews_df['CustomerID'].value_counts()
repeat_customers_count = (repeat_customers > 1).sum()

retention_rate = (repeat_customers_count / total_customers) * 100

print(f"Total Customers: {total_customers}")
print(f"Repeat Customers: {repeat_customers_count}")
print(f"Customer Retention Rate: {retention_rate:.2f}%")

Total Customers: 100
Repeat Customers: 26
Customer Retention Rate: 26.00%

Comparing repeat vs. first-time buyers.

In [19]:
# Classify customers as repeat or first-time
customers_df['BuyerType'] = customers_df['CustomerID'].apply(
    lambda x: 'Repeat Buyer' if repeat_customers.get(x, 0) > 1 else 'First-Time Buyer'
)

comparison = customers_df['BuyerType'].value_counts()

# Display the results
print("Comparison of Buyer Types:")
print(comparison)

# percentage distribution
percent_distribution = (comparison / comparison.sum()) * 100
print("\nPercentage Distribution of Buyer Types:")
print(percent_distribution)

Comparison of Buyer Types:
BuyerType
First-Time Buyer    74
Repeat Buyer        26
Name: count, dtype: int64

Percentage Distribution of Buyer Types:
BuyerType
First-Time Buyer    74.0
Repeat Buyer        26.0
Name: count, dtype: float64

Finding best-performing products per region based on customer review.

In [21]:
query_3 = """WITH RankedProducts AS (
  SELECT g.country, 
         p.productname, 
         COUNT(s.ProductID) AS total_products,
         ROW_NUMBER() OVER (PARTITION BY g.country ORDER BY COUNT(s.ProductID) DESC) AS rn
  FROM customer_reviews s
  JOIN Customers c ON s.customerid = c.customerid
  JOIN Geography g ON c.GeographyID = g.GeographyID
  JOIN Products p ON s.productid = p.productid
  GROUP BY g.country, p.productname
)
SELECT country, productname, total_products
FROM RankedProducts
WHERE rn = 1;"""

cursor.execute(query_3)
result_3 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_3_df = pd.DataFrame(result_3, columns=column_names)
print(result_3_df)

       country      productname  total_products
0      Austria            Kayak               3
1      Belgium  Fitness Tracker               2
2       France     Swim Goggles               2
3      Germany        Surfboard               2
4        Italy    Running Shoes               2
5  Netherlands     Swim Goggles               4
6        Spain  Fitness Tracker               3
7       Sweden    Climbing Rope               2
8  Switzerland    Tennis Racket               1
9           UK      Soccer Ball               2

Generating insights from SQL query results.

In [23]:
# Customer Engagement by Region:

query_4 = """SELECT g.country, COUNT(c.customerid) AS total_customers
FROM Customers c
JOIN Geography g ON c.GeographyID = g.GeographyID
GROUP BY g.country
ORDER BY total_customers DESC;"""

cursor.execute(query_4)
result_4 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_4_df = pd.DataFrame(result_4, columns=column_names)
print(result_4_df)

       country  total_customers
0        Spain               18
1        Italy               12
2      Germany               11
3      Austria               10
4           UK               10
5  Netherlands                9
6      Belgium                9
7       Sweden                8
8  Switzerland                8
9       France                5

In [ ]:
# Customer Journey Analysis:

query_5 = """SELECT g.country, cj.stage, COUNT(cj.customerid) AS total_customers
FROM Customer_Journey cj
JOIN Customers c ON cj.customerid = c.customerid
JOIN Geography g ON c.GeographyID = g.GeographyID
GROUP BY g.country, cj.stage
ORDER BY g.country, total_customers DESC;"""

cursor.execute(query_5)
result_5 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_5_df = pd.DataFrame(result_5, columns=column_names)
print(result_5_df)

In [ ]:
# Product Popularity by Region:

query_6 = """SELECT g.country, p.productname, COUNT(s.productid) AS total_reviews
FROM Customer_Reviews s
JOIN Customers c ON s.customerid = c.customerid
JOIN Geography g ON c.GeographyID = g.GeographyID
JOIN Products p ON s.productid = p.productid
GROUP BY g.country, p.productname
ORDER BY g.country, total_reviews DESC;"""

cursor.execute(query_6)
result_6 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_6_df = pd.DataFrame(result_6, columns=column_names)
print(result_6_df)

Based on the insights:
- Focus on High-Engagement Regions:- Invest in marketing and customer support in regions with high customer engagement.

- Address Negative Feedback:- Analyze reviews with low sentiment scores and address common complaints.

- Promote Popular Products:- Highlight top-performing products in each region through targeted campaigns.

- Optimize Customer Journey:- Identify and resolve bottlenecks in the customer journey stages.

- Enhance Engagement Strategies:- Focus on engagement types that yield the highest customer interactions.

In [ ]:
# To find the best product for customer segment in each region 

query_7 = """WITH RankedProducts AS (
  SELECT g.country, 
         p.productname, 
         COUNT(s.ProductID) AS total_products,
         c.gender,
         ROW_NUMBER() OVER (PARTITION BY g.country, c.gender ORDER BY COUNT(s.ProductID) DESC) AS rn
  FROM customer_reviews s
  JOIN Customers c ON s.customerid = c.customerid
  JOIN Geography g ON c.GeographyID = g.GeographyID
  JOIN Products p ON s.productid = p.productid
  GROUP BY g.country, p.productname, c.gender
)
SELECT country, gender, productname, total_products
FROM RankedProducts
WHERE rn = 1;"""

cursor.execute(query_7)
result_7 = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]
result_7_df = pd.DataFrame(result_7, columns=column_names)
print(result_7_df)

        country  gender      productname  total_products
0       Austria  Female   Baseball Glove               2
1       Austria    Male            Kayak               2
2       Belgium  Female  Fitness Tracker               2
3       Belgium    Male       Golf Clubs               1
4        France    Male     Swim Goggles               2
5       Germany  Female    Boxing Gloves               1
6       Germany    Male        Surfboard               1
7         Italy  Female   Baseball Glove               1
8         Italy    Male        Ski Boots               1
9   Netherlands  Female     Swim Goggles               3
10  Netherlands    Male        Surfboard               1
11        Spain  Female    Climbing Rope               2
12        Spain    Male       Volleyball               3
13       Sweden  Female    Climbing Rope               2
14       Sweden    Male            Kayak               1
15  Switzerland  Female    Tennis Racket               1
16  Switzerland    Male    Running Shoes               1
17           UK  Female  Football Helmet               1
18           UK    Male      Soccer Ball               2